# Non-secret Raspberry Pi network deployment settings.
NETWORK_INTERFACE=eth0
WIFI_INTERFACE=wlan0
WIRED_CONNECTION_NAME=robot-wired
WIRED_DHCP=true
WIRED_STATIC_ADDRESS=10.42.0.10/24
WIRED_GATEWAY=
WIFI_CONNECTION_PREFIX=robot-wifi
HOTSPOT_CONNECTION_NAME=robot-hotspot
HOTSPOT_SSID=robot
FALLBACK_NETWORK=192.168.42.0/24
FALLBACK_ROBOT_ADDRESS=192.168.42.1/24
HOTSPOT_CHANNEL=6
ROBOT_HOSTNAME=robot
MEDIA_ROOT=${COCKPIT_ROOT}/media
CSV_ROOT=${COCKPIT_ROOT}/media/data/csv
DATALOGGER_EXPORT_DIR=${COCKPIT_ROOT}/media/data/csv
SMB_SHARE_NAME=media
SMB_USER=${ROBOT_RUNTIME_USER}
AVAHI_ENABLED=true
